.container{
    display:flex ;
    flex-direction: row-reverse;
    height: 500px;
    width: 200px;
    background-color: aqua;
    border: 1px solid black;
    align-items:flex-start;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    


}
.item{
    height: 100px;
    width: 100px;
    background-color:brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;


}
.item2{
    order: -1;
    flex-grow: 2;
    align-self:baseline;
}