.container{
    display: grid;
    height: 500px;
    width: 200px;
    background-color: aqua;
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "header header header header ""main main.sidebar""footer footer";




}
.item{

    height: 100px;
    width: 100px;
    background-color:brown;
    border: 1px solid black;

    

}
.item1{
    grid-area:header;

}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;

}
.item4{
    grid-area: footer;
}